 body{
  background-color: dimgray;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100vh;
  grid-template-areas: "game,history";
  margin: 0;
  overflow: hidden;
}

#selectMode{
  grid-area: "game";
  border-right: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectGameModeButtons{
  width: 300px; 
  height: 150px;
  margin: 50px;
  text-align: center;
  
}

table{
  height: 100px;
  width: 100px;
  text-align: center;
}

 tr td{
  border: 1px solid black;
}

.gameHistoryDiv:hover{
  background-color: gray;
}

#history{
  overflow: auto;
}